<a href="https://colab.research.google.com/github/ShinSoonJong/Class2022Spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

영어음성학 응용 복습 내용 정리 

1, Variables 

변수는 number와 String으로 나뉘게 된다고 볼 수 있다.

In [1]:
a=1 
b=2 
c=5

a라는 변수에 1을 넣는다는 것을 의미하고, b라는 변수에 2를 넣는 것, c라는 변수에 

5를 넣는 것을 의미한다고 볼 수 있다.

In [2]:
d=a+b+c

d라는 변수에 a+b+c를 넣는 것을 의미하는 것이다.

In [3]:
a=1;  print(type(a))

<class 'int'>

a라는 변수에 1이 들어가 있는 상태이며, print는 특정한 것을 인쇄하여 나타내주는 것을 의미하게 된다. 따라서, a의 타입은 int으로 나타나게 되며, 정수를 의미하게 된다.

In [4]:
a=1.1; print(type(a))

<class 'float'>

a의 타입을 보여주고 있으며, float으로 나타나고 있는데, 실수를 의미하게 된다.

In [5]:
a= '123'; print(type(a)); print(a[1])

<class 'str'>
2

a라는 변수에 String을 넣는 것을 의미하고 있으며, 따라서, 타입은 String으로 나타나고, Python은 0번째부터 존재하는데, 첫 번째를 Print하므로, 2가 나타나게 된다.

In [6]:
a= [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

다음과 같이 여러개를 나열할 때는 List가 사용되며, Variables에는 number, String, List가 존재한다고 볼 수 있다. 따라서, type은 list이며, a의 0번째를 Print하기 때문에 1이 나타난다고 볼 수 있다. 다시 한번 기억하지만, Python은 0번째부터 시작한다.

In [7]:
a[1:2]

[2]

1번째부터, 2번째까지를 나타내는 것인데, 2번째는 포함하지 않는 것을 의미한다. 따라서, 1번째인 2만 인쇄돼고 있는 것을 볼 수 있다.

In [8]:
a[2:]

[3, 4]

2번째부터 끝까지를 인쇄해야 한다는 의미이므로, 3부터 끝에 있는 4까지 인쇄되고 있다.

In [9]:
a[2:-1]

[3]

-1은 끝에 있는 것을 의미하므로 4를 나타낸다고 볼 수 있는데, 2번째부터 4까지를 의미한다. 하지만, 4는 포함하지 않기 때문에, 2 번째에 있는 3만 나타나고 있다.

In [10]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; print(type(a)); print(a[0])

<class 'list'>
1

List가 나타나 있으며, 10개가 들어가 있고, type은 따라서 당연히 list로 나타나게 되며, a의 0번째를 Print함으로, 1이 나타나게 된다.

In [11]:
a[1:-1]

[2, 3, 4, 5, 6, 7, 8, 9]

1번째는 2이고, -1은 끝에 있는 10이다. 1 번째부터 -1까지를 의미하지만, -1에 있는 것은 포함하지 않기 때문에, 10은 포함하지 않는 것을 알 수 있다. 따라서, 
2부터 9까지 모두 Print되는 것을 알 수 있다.

In [15]:
a=[1, 'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

a에 1이라는 Number, 'a' 라는 String, 그리고 마지막으로 List가 포함되어있는 것을 알 수 있다. 따라서, a의 0번째를 Pirnt하게 되면 당연히 처음 존재하는 1이 print되는 것을 알 수 있다. 1 번째는 a가 Print 되며, 2 번째는 List가 print되는 것을 알 수 있다.
 print(a[2][1]) 가 의미하는 것은 a의 2번째에 있는 List트 중에서 1번째를 Print하는 것이다. 따라서, a의 2번째는 List이므로, 그 list에서 1 번째인 4가 Print 되는 것을 확인할 수 있다.

In [14]:
a = {"a": "apple", "b":"orange", "c":2014}
print (type(a)) 
print (a["a"])

<class 'dict'>
apple

Variables에는 Number, String, List 외에 Dict가 존재한다. 따라서, a의 type Print하게 되면 Dict가 나타나게 된다. a 중에서 "a"를 프린트하면 당연히 
apple이 나오게 되는 것이다.