<a href="https://colab.research.google.com/github/ShinSoonJong/Class2022Spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

영어음성학 응용 복습 내용 정리 

# 1, Variables 

변수는 number와 String으로 나뉘게 된다고 볼 수 있다.

In [2]:
a=1 
b=2 
c=5

a라는 변수에 1을 넣는다는 것을 의미하고, b라는 변수에 2를 넣는 것, c라는 변수에 

5를 넣는 것을 의미한다고 볼 수 있다.

In [3]:
d=a+b+c

d라는 변수에 a+b+c를 넣는 것을 의미하는 것이다.

In [4]:
a=1;  print(type(a))

<class 'int'>

a라는 변수에 1이 들어가 있는 상태이며, print는 특정한 것을 인쇄하여 나타내주는 것을 의미하게 된다. 따라서, a의 타입은 int으로 나타나게 되며, 정수를 의미하게 된다.

In [5]:
a=1.1; print(type(a))

<class 'float'>

a의 타입을 보여주고 있으며, float으로 나타나고 있는데, 실수를 의미하게 된다.

In [6]:
a= '123'; print(type(a)); print(a[1])

<class 'str'>
2

a라는 변수에 String을 넣는 것을 의미하고 있으며, 따라서, 타입은 String으로 나타나고, Python은 0번째부터 존재하는데, 첫 번째를 Print하므로, 2가 나타나게 된다.

In [7]:
a= [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

다음과 같이 여러개를 나열할 때는 List가 사용되며, Variables에는 number, String, List가 존재한다고 볼 수 있다. 따라서, type은 list이며, a의 0번째를 Print하기 때문에 1이 나타난다고 볼 수 있다. 다시 한번 기억하지만, Python은 0번째부터 시작한다.

In [8]:
a[1:2]

[2]

1번째부터, 2번째까지를 나타내는 것인데, 2번째는 포함하지 않는 것을 의미한다. 따라서, 1번째인 2만 인쇄돼고 있는 것을 볼 수 있다.

In [9]:
a[2:]

[3, 4]

2번째부터 끝까지를 인쇄해야 한다는 의미이므로, 3부터 끝에 있는 4까지 인쇄되고 있다.

In [10]:
a[2:-1]

[3]

-1은 끝에 있는 것을 의미하므로 4를 나타낸다고 볼 수 있는데, 2번째부터 4까지를 의미한다. 하지만, 4는 포함하지 않기 때문에, 2 번째에 있는 3만 나타나고 있다.

In [11]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; print(type(a)); print(a[0])

<class 'list'>
1

List가 나타나 있으며, 10개가 들어가 있고, type은 따라서 당연히 list로 나타나게 되며, a의 0번째를 Print함으로, 1이 나타나게 된다.

In [12]:
a[1:-1]

[2, 3, 4, 5, 6, 7, 8, 9]

1번째는 2이고, -1은 끝에 있는 10이다. 1 번째부터 -1까지를 의미하지만, -1에 있는 것은 포함하지 않기 때문에, 10은 포함하지 않는 것을 알 수 있다. 따라서, 
2부터 9까지 모두 Print되는 것을 알 수 있다.

In [13]:
a=[1, 'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

a에 1이라는 Number, 'a' 라는 String, 그리고 마지막으로 List가 포함되어있는 것을 알 수 있다. 따라서, a의 0번째를 Pirnt하게 되면 당연히 처음 존재하는 1이 print되는 것을 알 수 있다. 1 번째는 a가 Print 되며, 2 번째는 List가 print되는 것을 알 수 있다.
 print(a[2][1]) 가 의미하는 것은 a의 2번째에 있는 List트 중에서 1번째를 Print하는 것이다. 따라서, a의 2번째는 List이므로, 그 list에서 1 번째인 4가 Print 되는 것을 확인할 수 있다.

In [15]:
a = {"a": "apple", "b":"orange", "c":2014}
print (type(a)) 
print (a["a"])

<class 'dict'>
apple

Variables에는 Number, String, List 외에 Dict가 존재한다. 따라서, a의 type Print하게 되면 Dict가 나타나게 된다. a 중에서 "a"를 프린트하면 당연히 
apple이 나오게 되는 것이다.

# Variables에는 String이 있다.
# 2,  String

In [17]:
s= 'abcdef'
print(s[0], s[5], s[-1], s[-6]) 
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

String이 나타나 있으며, -1은 끝에 있는 것을 나타나므로 f가 print 된다. -6은 -1부터 순서대로 왼쪽으로 가다보면, a가 되는 것을 알 수 있다. 
:3은 처음부터 3번째까지를 나타내는 것을 의미하는데, 3번째는 포함하지 않으므로, abc가 된다. :만 존재하게 되면 전체를 의미한다.

In [18]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3]) 
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

list가 나타나있는 것을 알 수 있다. -1은 끝에 있는 것을 의미하고, -3은 따라서, 왼쪽으로 이동하면서 100이 된다. :만 있으면 역시 전체를 print하게 된다.

In [19]:
len(s)

6

len이라는 함수를 길이를 나타낸다고 볼 수 있다. 따라서, Stirng의 길이는 6이라는 것을 알 수 있다.

In [21]:
s[1]+ s[3]+ s[4:]*10

'bdefefefefefefefefefef'

String에 있는 것들을 합치는 식이라고 볼 수 있다. 곱하기 10이 있으므로, ef를 10번 반복한다는 것을 알 수 있다.

In [23]:
s.upper()

'ABCDEF'

함수를 쓸 때는 항상 괄호를 사용하는 것을 명심해야 하며, 해당 함수는 String을 대문자로 바꾸어주고 있음을 알 수 있다.

In [24]:
s = ' this is a house built this year. n'

다음 전체 문장이 String이라는 것을 알 수 있다.

In [26]:
result = s.find('house')
result

11

house를 찾는 함수인데, 11번째에 house가 등장한다는 것을 의미한다. this는 따라서, 1번째에 등장하므로 result는 1이 될 것임을 예측할 수 있다.

In [28]:
s= s.strip()
s

'this is a house built this year. n'

white space를 제거하고 문장을 나타내주고 있다.

In [32]:
tokens = s.split()
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.', 'n']

문장에 있는 것을 쪼개어서 list로 나열해주는 함수이다. 이를 다시 문장으로 합칠 경우에는, join을 사용해주면 되고, 다시 원래 문장으로 되돌릴 때는 replace를 사용해주면 된다고 볼 수 있다.

# 3, Syntax 
syntax는 반복문과 조건문으로 나뉜다. 반복문에는 for이 사용되며, 조건문에는 if가 사용된다. 이것이 syntax의 전부라고 볼 수 있다. syntax에 대하여 자세하게 살펴보기 전, 함수에 대하여 간단히 정리해보자.

In [44]:
def add(a,b): 
  return a+b 
def subtract (a,b): 
  return a-b 
def multiply(a,b): 
  return a*b 
def divide(a,b): 
  return a/b

def는 정의한다는 것을 의미한다. 즉, 함수를 정의하는 것이다. a,b를 add하여 return a+b라는 것을 출력한다는 것을 의미하게 된다. subract, multiply, divide 모두 마찬가지이다.

In [46]:
c= add(1,2); print (c) 
c= subtract(1,2); print (c) 
c= multiply (1,2); print (c)
c= divide(1,2); print(c)

3
-1
2
0.5

함수가 정의된 후에, 사칙연산이 수행되고 결과가 나온다는 것을 알 수 있다.

In [47]:
a = [1, 2, 3, 4 ] 
for i in a: 
      print(i)

1
2
3
4

for은 우선 반복하는 것을 의미한다고 볼 수 있다. in 을 먼저 해석하게 되는데, a에서 i를 처음부터 반복해서 실행한다고 볼 수 있다. 한번씩 모두 print하므로 1,2,3, 4가 출력되게 된다.

In [50]:
a= [1, 2, 3, 4]
for i  in range(4):
        print(a[i])

1
2
3
4

range는 [ 0, 1, 2, 3]으로 생각하면 쉽다. 이 4개의 숫자가 반복적으로 i에 들어가면서 출력이 되기 때문에, 결과적으로 1, 2, ,3 ,4 가 Print 되게 된다.

In [51]:
a= [ 'red', 'green', 'blue', 'purple']
for i in a : 
       print(i)

red
green
blue
purple

a에서 i가 처음부터 반복적으로 실행되기 때문에, red, green, blue, purple 모두 Print 되는 것을 알 수 있다.

In [53]:
a= [1, 2, 3, 4]
for i  in  range(len(a)) : 
    print(a[i])

1
2
3
4

range를 조금더 고급적으로 표현하면 len 함수가 된다. 4번 반복적으로 실행되기 때문에, 최종적으로 1,2,3,4가 Print 되는 것이다.

In [55]:
a = 0 
if a == 0: 
         print (a)

0

a=0은  a가 0이라는 것이 아니다. a라는 변수에 0을 대입하는 것이다.  같다는 것을 나타내기 위해서는 ==를 써야 한다.  a==0이기 때문에 결과적으로 0이 Print 되는 것을 알 수 있다.

In [58]:
a = 0 
if a == 0: 
      print(a) 
else: 
        print(a+1)

0

a가 0아닐 경우에는 a+1을 Print 하라는 것이 추가되었다. 만일 a가 아닐 경우 결과적으로 1이 Print될 것이고, a가 0이라면, 0이 Print될 것이다.

In [59]:
 for i in range (1,3): 
      for j in range (3, 5): 
          print (i*j)

3
4
6
8

range (1,3) 은 [ 1,2] 을 의미한다. 3번째는 포함하지 않는다.  range(3,5)는 따라서 [3,4] 을 의미하게 된다. 반복적으로 실행하는 for이 존재하기 때문에, 
나올 수 있는 곱의 경우의 수를 모두 print하게 되므로 3,4,6,8이 출력되게 된다.

In [60]:
for i in range (1, 3): 
    for j in range (3,5): 
        if j >=4: 
            print (i*j)

4
8

if j>=4 는 j가 4보다 같거나 클 경우를 의미하는 것이다. 
range (1,3)은 [ 1,2 ] 을 의미하고, range (3,5)는 역시 [ 3,4]을 의미하기 때문에, 
j가 4보다 같거나 큰 경우는 4만 해당한다. 따라서, 나올 수 있는 경우의 수는 4, 8이기 때문에, 그 값이 Print 되게 된다.

In [61]:
a= ['red', 'green', 'blue', 'purple']
b= [ i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

list comprehension에 해당하며, 길이가 4랑 같거나 큰 경우만 출력되므로, 길이가 3인 red를 제외하고 모두 출력되는 것을 알 수 있다.

In [63]:
a= [ 'red', 'green', 'blue', 'purple']
b= [1,2,3,4]
c= {a[i]:b[i] for i in range(4)}
c

{'blue': 3, 'green': 2, 'purple': 4, 'red': 1}

dict comprehension에 해당하며, range 4는 [0,1,2,3] 인 것을 알 수 있다. 
따라서 그것을 하나하나씩 대입해보면, 4개의 출력값이 Print 되는 것을 알 수 있다.