<a href="https://colab.research.google.com/github/ShinSoonJong/Class2022Spring/blob/main/2022-03-14%20%EC%88%98%EC%97%85%20%EC%8B%9C%ED%97%98%EB%8C%80%EB%B9%84%20%EB%B3%B5%EC%8A%B5%EC%9E%90%EB%A3%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python의 기초에 대하여 이야기하고 있다. 변수, 함수, 패키지, 문법에 대하여 배우고 있다. 변수의 일부에 해당되는 string에 대하여 알아보자. string과 list의 유사성에 대하여 자세히도 알아보자.

In [ ]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

s라는 변수에 string이 들어가고 있다. 0번째부터 시작한다고 볼 수 있다. 0번째보다 하나더 뒤에 있으면 -1번째항이다. -6은 왼쪽으로 쭉 이동하면 된다. 이부분은 시험문제에 많이 나오는 부분이다.

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

string과 list는 유사성을 가지고 있다. 여기서는 list인데, 3가지의 아이템을 가지고 있다. 0번째는 가장 처음에 있는 부분이기 때문에, 100이 나오게 된다. -1은 가장 마지막에 있는 부분이다. 콜론이 있으면 전부다 프린트 하라는 것이다. [1:3]은 3 번째는 포함하지 말라는 것이다. 즉, 2가지의 숫자가 나오게 된다.

In [ ]:
len(s)

6

len은 길이를 말해주게 된다. 길이를 계산하는 함수이다. 괄호를 통해 함수라는 것을 유추할 수 있다.

In [ ]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

ef를 곱하게 10번 하라는 것이다. 따라서 bd가 한번 나오고 ef가 10번 나오게 되는 것을 볼 수 있다.

In [ ]:
s.upper()

'ABCDEF'

function은 기본적으로 입출력을 가지고 있다. print(s[0]) 에서 print는 함수중에 하나이다. 누군가가 이미 만들어 놓은 함수라고 볼 수 있다. python에서 함수는 괄호를 반드시 사용하게 된다. 입력이 있으면 괄호 안에 입력을 넣으면 된다. 이 입력을 바탕으로 출력을 하게되는 것이다. 입력이 없으면 적지 않아도 된다. 즉, 괄호가 보이게 되면 함수라는 것을 유추할 수 있다. built-in function은 내장되어 있는 함수인데, print가 그에 해당하게 된다. 따로 가져올 필요가 없는 함수인 것이다. import할필요도 없는 것이다. 
upper도 함수의 형태로 되어 있다. s가 string인데, s를 대문자로 만들어주고 있다.

In [ ]:
s = ' this is a house built this year.\n' 	
s

' this is a house built this year.\n'

s를 써준 이유는 string을 나타내기 위함이다. s를 따로 써주지 않으면 s를 따로 볼 수가 없다. 하지만, 맨 마지막에 있을 때만, print라고 써줄 필요가 없는 것이다.

In [ ]:
result = s.find('house') 	    
result

11

house를 s에서 찾으라는 것이다. 그 값을 result에 넣으라는 것이다. 11이 나왔는데, house가 나오는 순간이 11번째라는 것이다.

In [ ]:
result = s.find('this')	      
result

1

this는 1 번째에 있는 것을 알 수 있다.

In [ ]:
s = s.strip()      	          # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

white space가 있다면 지우라는 것이다. 문장부호인데, 그러한 것들을 없애주는 것이다. 한칸 띄운 것도 없애주는 것을 볼 수 있다.

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

split이라는 함수는 빈칸이 있으면, 빈칸을 중심으로 쪼개서 list로 만들라는 것이다.

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

빈칸을 이용해서 다시 join하라는 것이다. 원 문장이 된 것을 볼 수 있다.

In [ ]:
s = s.replace('this', 'that') # replace instances of t with u inside s
s

'that is a house built that year.'

this를 that으로 바꾸어주는 함수이다.

In [ ]:
def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

function을 만드는 방법에 대하여 알아보자. 누군가가 만들어준 함수를 쓸 수도 있는데, 우리가 직접 만들어 쓸 수도 있다. def라고 적고, 함수 이름을 적으면 된다. 그리고 괄호를 열고, 닫고, 입력을 넣으면 된다. 우리 마음대로 입력 변수를 적으면 된다. 출력을 하고 싶으면, return을 적고, 출력변수명을 적어주면 된다. 입력변수, 출력 변수 모두 여러개를 적을 수 있다. def add(a,b)을 살펴보면, 입력 변수가 2가지가 들어가 있다. 출력 변수는 a+b이다. return을 사용하고 있는데, c=a+b, return c 이런 식으로 중간과정을 추가해도 같은 결과값이 나오게 된다. 더하기 함수를 이런 식으로 만들 수 있는 것이다. 빼기, 곱하기, 나누기 함수 모두 같다.

In [ ]:
add(1,2)

3

In [ ]:
c = add(1,2); print(c)
c = subtract(1,2); print(c)
c = multiply(1,2); print(c)
c = divide(1,2); print(c)

3
-1
2
0.5

 먼저 add 함수를 정의해주어야 한다. 정의를 해주게 되면 다음과 같은 결과 값이 print되어 나오게 된다. 입력이 없으면 빈칸만 해놓으면 된다. 출력이 물론 없을 수도 있다. 입출력이 있다면 괄호 안에, 내용을 적어주면 된다. 즉, 선택적이다. 반드시 함수를 만들 때는 괄호를 써주어야 하는 점 기억해야 한다.

syntax에는 반복문과 조건문이 있는데, 반복문은 for, 조건문은 if를 사용하게 된다. 이것이 syntax의 전부이다. words는 변수인 것이다.

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

 print를 써줄 때는 띄어서 써주어야 한다. INDENT 해주어야 한다. 이렇게 해줘야 for 안에 있는 것으로 본다. a를 먼저 해석해준다. a에 있는 것들을 처음부터 i로 하나하나씩 받아서 돌린다는 것이다. 하나하나씩 i에 넣고 돌린다는 것이다. 즉, 4번 돌아가게 된다. 이러한 것을 for loop이라고 한다. 첫 번째 돌아갈 때, i에 1이 들어가서 1이 나오게 된다. 그다음, 2,3,4 이런식으로 들어가게 되는 것이다.

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

range라는 것이 사용되었다. range(4)이다. [0,1,2,3]의 list가 만들어지는 것이다. 0부터 들어가는 것이다. 처음 만들어지는 것이 print(a[0])인 것이다. 따라서 1이 처음으로 나오게 된다. range를 활용해서 list를 만든 것이다.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

list에 string이 들어가 있다. 하나하나씩 들어가면서 결국 출력되게 되는 것이다.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

range(4)와 같은 말이다. 0번째에 있는, red가 가장 먼저 나오게 된다.

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

a에 0이 들어가 있는데, if를 만나게 된다. 실제 같다는 의미를 나타나기 위해서는 등호를 2개 작성해준다. indent 해주어야 한다. 아니라면은 !=이다. else는 그렇지 않다면 다음을 실행하라는 이야기이다.

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

range(4)는 [0,1,2,3] 이다. range(1,3)은 [1,2]이다. 3 번째는 제외하기 때문이다. range(3,5)는 [3,4]이다. list에 있는 것들이 하나하나씩 들어간다고 생각한다면 총 4가지의 숫자가 나올 수 있음을 알 수 있다.

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

j가 4랑 같거나 클 때만, 출력되므로 j가 4일 때만 해당된다. 1x4, 2x4의 숫자만 결국 출력되게 된다.

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

list comprehension이 나오게 된다. for과 if가 list 안에 들어가 있는 것을 볼 수 있다. a에 있는 것을 하나하나씩 i로 받는다. 만일 i가 2보다 같거나 크다면, b가 출력되게 된다. 결과적으로, 1만 탈락하게 된다.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

string의 길이가 4보다 같거나 클 경우에만 b가 출력되므로 red는 탈락되는 것을 알 수 있다.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [1, 2, 3, 4]
c = {a[i]:b[i] for i in range(4)}
c

{'blue': 3, 'green': 2, 'purple': 4, 'red': 1}

dict comprehension이다. dict 안에 for이 들어가 있는 것을 볼 수 있다. range(4)는 [0,1,2,3] 다. 0부터 들어간다.{ a[0]:b[0], ~} 이런식이 된다.